<go-nav></go-nav>
<div class="container-fluid">
    <h3 class="page-header">Check Lists</h3>
    <div class="row">
        <button class="btn btn-primary" ng-click="list_modal(null)">Add Check List</button>
    </div>
    <div class="row">
        <table class="table table-striped table-hover needs-verticle-alignment">
        <thead table-headers column="column" list="headers" invert="reverse_column">
        </thead table-headers>
        <tbody>
            <tr ng-repeat='list in lists | orderBy:column:reverse_column' id='lists-{{list.id}}' class="go-tr">
                <td class="col-md-3">{{list.name}}</td>

                <td class="col-md-2">
                    <button class="btn btn-sm btn-primary" ng-click="list_modal(list)">Edit Check List</button>
                </td>
                <td><a class="text-danger action" ng-click="delete_list(list)"><span class="fa fa-trash-o"></span> Delete</a></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
